.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.nameList {
  border: 2px solid rgb(25, 20, 56);
  height: 200px;
  width: 99%;
  overflow: hidden;
  overflow-y: scroll;
  text-align: left;
  font-size: 14px;
}
.nameList:last-child {
  margin-bottom: 32px;
}

.MonsterIMG:hover {
  opacity: 0.5;
}

.NamesContainer {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(25, 20, 56);
}

.App-link {
  color: #61dafb;
}

.pagination {
  margin: 1px;
  background-color: rgba(53, 3, 87, 0.3);
  border: 2px outset rgb(7, 6, 20);
  border-radius: 9px;
}

.monsterContainer {
  height: 700px;
  width: 800px;
}
.MonsterListDiv {
  height: 600px;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
