.InputName {
  border: 4px solid rgb(25, 20, 56);
}

.myInput {
  background-position: 8px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 14px 20px 10px 56px;
  border: 1px solid rgb(25, 20, 56);
  text-align: center;
  font-family: normal;
}
.myInput:focus {
  margin: 5px rgb(25, 170, 62);
}

.myButton {
  background-color: #eaf1f1; /* Green */
  border: none;
  color: black;
  padding: 2px;
  border: 1px solid rgb(25, 20, 56);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}
.myButton:hover {
  background-color: rgb(25, 170, 62);
  color: white;
}
